@import url(extra/_mixin.scss);
@import url(extra/variables.scss);

body {
  background-color: $color-primario;
}


.left {
  background-color: rgb(29, 27, 27);
  box-shadow: 5px 5px 5px rgba(144, 55, 63);
  padding: 10px;
}

.left h1 {
  color: white;
  text-shadow: 5px 5px 5px rgba(144, 55, 63);
}

.navbar-item {
  text-decoration: none;
  color: white;
  text-shadow: 5px 5px 5px rgba(144, 55, 63);
}


header {
  display: flex;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 10px;
  gap: 10px;
}

header nav {
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 10px rgba(144, 55, 63);
  background: #111 !important;
}



.left {
  width: 70%;
  height: 150px;
}

.contacto {
  color: white;
}

.telefono {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.mail {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.ubi {
  display: block;
  margin: auto;
}